<section class="busqueda">
    <h6>Resultados para: </h6>
    <h1>"@ViewBag.DatoBuscado"</h1>
    <hr>

    <!-- Mostrar universidades si hay resultados -->
    @if (ViewBag.Resultados != null && ViewBag.Resultados.Universidadesr != null && ViewBag.Resultados.Universidadesr.Count > 0)
    {
        <h2>Universidades</h2>
        <ul>
            @foreach (var universidad in ViewBag.Resultados.Universidadesr)
            {
                <li>
                    <h4>@universidad.Nombre</h4>
                    <img src="@universidad.Foto" alt="Foto de @universidad.Nombre" />
                    <p>Ubicación: @universidad.Ubicación</p>
                    
                    <input type="checkbox" class="compare-checkbox" 
                       data-id="@universidad.Id" data-nombre="@universidad.Nombre" data-logo="@universidad.Foto">
                    <label>Comparar</label>

                </li>
            }
        </ul>
    }
    else
    {
        <p>No se encontraron universidades para la búsqueda.</p>
    }

    <hr>
    <!-- Mostrar carreras si hay resultados -->
    @if (ViewBag.Resultados != null && ViewBag.Resultados.Carrerasr != null && ViewBag.Resultados.Carrerasr.Count > 0)
    {
        <h2>Carreras</h2>
        <ul>
            @foreach (var carrera in ViewBag.Resultados.Carrerasr)
            {
                <li>
                    <h3>@carrera.Nombre</h3>
                    <p>Duración: @carrera.Duracion años</p>
                    <p>Costo: $@carrera.Costo</p>
                    <img src="@carrera.Foto" alt="Foto de la carrera @carrera.Nombre" />
                </li>
            }
        </ul>
    }
    else
    {
        <p>No se encontraron carreras para la búsqueda.</p>
    }


</section>




    <div id="comparison-bar" class="comparison-bar hidden">
        <div id="comparison-list" class="comparison-list">
            <!-- Aquí se agregarán las universidades seleccionadas dinámicamente -->
        </div>
        <div class="comparison-bar" style="display: none;">
        
        <div class="comparison-list"></div>
            <div class="comparison-buttons">
                <button onclick="compareUniversities()">Comparar por universidad</button>
                <button onclick="compareCareers()">Comparar por carrera</button>
            </div>
        </div>
    </div>

<script src="../js/comparacion.js"></script>