<section class="busqueda">
    <h6>Resultados para: </h6>
    <h2>"@ViewBag.DatoBuscado"</h2>
    <hr>

    <!-- Mostrar universidades si hay resultados -->
    <h2>Universidades</h2>
    @if (ViewBag.Resultados != null && ViewBag.Resultados.Universidadesr != null && ViewBag.Resultados.Universidadesr.Count > 0)
    {   
        <div class="contenedor-busqueda">
            @foreach (var universidad in ViewBag.Resultados.Universidadesr)
            {   
                <div class="resultados-universidades">
                    <img class="foto-facultades" src="@universidad.Foto" alt="Foto de @universidad.Nombre" />
                    <div class="perfil-universidad">
                        <h6>@universidad.Nombre</h6>
                        <p>Ubicación: @universidad.Ubicación</p>
                        
                        <input type="checkbox" class="compare-checkbox" 
                            data-id="@universidad.Id" data-nombre="@universidad.Nombre" data-logo="@universidad.Foto">
                        <label>Comparar</label>
                    </div>
                </div>
            }          
                    
        </div>
    }
    else
    {
        <p>No se encontraron universidades para la búsqueda.</p>
    }

    <hr>
    <!-- Mostrar carreras si hay resultados -->
    <h2>Carreras</h2>
    @if (ViewBag.Resultados != null && ViewBag.Resultados.Carrerasr != null && ViewBag.Resultados.Carrerasr.Count > 0)
    {
        <div class="contenedor-busqueda cont-carreras">
                @foreach (var carrera in ViewBag.Resultados.Carrerasr)
                {   
                    <div class="resultados-carreras">
                        <img class="foto-carreras" src="@carrera.Foto" alt="Foto de la carrera @carrera.Nombre"/>
                        <div class="info-carrera">
                            <h3>@carrera.Nombre</h3>
                            <p>Duración: @carrera.Duracion años</p>
                            <p>Costo: $@carrera.Costo</p>
                        </div>
                    </div>
                }
        </div>
            
        
    }
    else
    {
        <p>No se encontraron carreras para la búsqueda.</p>
    }


</section>




    <div id="comparison-bar" class="comparison-bar hidden">
        <div id="comparison-list" class="comparison-list">
            <!-- Aquí se agregarán las universidades seleccionadas dinámicamente -->
        </div>
        <div class="comparison-bar" style="display: none;">
        
        <div class="comparison-list"></div>
            <div class="comparison-buttons">
                <button onclick="compareUniversities()">Comparar por universidad</button>
                <button onclick="compareCareers()">Comparar por carrera</button>
            </div>
        </div>
    </div>

<script src="../js/comparacion.js"></script>