<section class="busqueda">
    <h6>Resultados para: </h6>
    <h2>"@ViewBag.DatoBuscado"</h2>
    <hr>

    <!-- Mostrar universidades si hay resultados -->
    <h2>Universidades</h2>
    @if (ViewBag.Resultados != null && ViewBag.Resultados.Universidadesr != null && ViewBag.Resultados.Universidadesr.Count > 0)
    {   
        <div class="contenedor-busqueda2">
            @foreach (var universidad in ViewBag.Resultados.Universidadesr)
            {   
                <div class="resultados-universidades">
                    <img class="foto-facultades" src="@universidad.Foto" alt="Foto de @universidad.Nombre" />
                    <div class="perfil-universidad">
                        <h6>@universidad.Nombre</h6>
                        <p>Tipo: @universidad.Tipo</p>
                        
                    </div>
                </div>
            }          
                    
        </div>
    }
    else
    {
        <p>No se encontraron universidades para la búsqueda.</p>
    }

    <hr>
    <!-- Mostrar carreras si hay resultados -->
    <h2>Carreras</h2>
    @if (ViewBag.Resultados != null && ViewBag.Resultados.Carrerasr != null && ViewBag.Resultados.Carrerasr.Count > 0)
    {
        <div class="contenedor-busqueda cont-carreras">
                @foreach (var carrera in ViewBag.Resultados.Carrerasr)
                {   
                    <div class="resultados-carreras">
                        <img class="foto-carreras" src="@carrera.Foto" alt="Foto de la carrera @carrera.Nombre"/>
                        <div class="info-carrera">
                            <h3>@carrera.Nombre</h3>
                            <div class="checkbox-comparar">
                                <input type="checkbox" class="compare-checkbox" 
                                    data-id="@carrera.Id" data-nombre="@carrera.Nombre" data-logo="@carrera.Foto">
                                <label>Comparar</label>
                            </div>
                        </div>
                    </div>
                }
        </div>
            
    }
    else
    {
        <p>No se encontraron carreras para la búsqueda.</p>
    }


</section>



    <div id="comparison-bar" class="comparison-bar hidden">
        <div id="comparison-list" class="comparison-list">
            <!-- Universidades seleccionadas serán añadidas aquí dinámicamente -->
        </div>
    </div>

<script src="../js/comparacion.js"></script>
<script src="../js/agarre.js"></script>