@{
    var carrera1 = ViewBag.carrera1;
    var carrera2 = ViewBag.carrera2;
}
<div class="busqueda">
    <h6>Comparar:</h6>
    <h2>@carrera1.Nombre &amp; @carrera2.Nombre</h2>
    <hr>
</div>

<section class="comparacion">
    <div class="comparacion-contenedor">
        <!-- Carrera 1 -->
        <div class="resultados-carreras">
            <img class="foto-carreras" src="@carrera1.Foto" alt="Foto de la carrera @carrera1.Nombre"/>
            <div class="info-carrera">
                <h3>@carrera1.Nombre</h3>
                <p class="detalles">Duraci칩n: <strong>@carrera1.Duracion a침os</strong></p>
                <p class="detalles">Costo: <strong>$@carrera1.Costo</strong></p>
            </div>
        </div>


        <!-- Carrera 2 -->
        <div class="resultados-carreras">
            <img class="foto-carreras" src="@carrera2.Foto" alt="Foto de la carrera @carrera2.Nombre"/>
            <div class="info-carrera">
                <h3>@carrera2.Nombre</h3>
                <p class="detalles">Duraci칩n: <strong>@carrera2.Duracion a침os</strong></p>
                <p class="detalles">Costo: <strong>$@carrera2.Costo</strong></p>
            </div>
        </div>
    </div>
</section>
