<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
<section class="perfil-usuario">

    <div class="banner"></div>
    <img src="../../img/logo_usuario.png" class="foto-facultades" alt="...">

    <section class="info-perfil">
        <div class="Info-personal"> 
            <div class="nombre-usuario">
            <h4>@("@" + ViewBag.Usuario.NombreUsuario)</h4>
            <div class="cerrar-sesion">
                <a href='@Url.Action("Logout", "Auth")'><i class="fa fa-sign-out-alt"></i></a>
                <a href='@Url.Action("Logout", "Auth")'><h6>Cerrar sesión</h6></a>
            </div>
            </div>

<h4>
    @(char.ToUpper(ViewBag.estudiante.Nombre[0]) + ViewBag.estudiante.Nombre.Substring(1).ToLower() + " " +
      char.ToUpper(ViewBag.estudiante.Apellido[0]) + ViewBag.estudiante.Apellido.Substring(1).ToLower())
</h4>


            <h5>@ViewBag.estudiante.Carrera</h5>
        </div>

        <div class="Info-usuario">
            <div class="estadisticas">
                <div class="Amigos">
                    <h4>Amigos</h4>
                    <h4>0</h4>
                </div>
                
                <div class="Amigos">
                    <h4>Publicaciones</h4>
                    <h4>0</h4>
                </div>
                
                <div class="Amigos">
                    <h4>Reels</h4>
                    <h4>0</h4>
                </div>
            </div>

            <div class="descripcion">
                <p>descripcion</p>
            </div>
        </div>
    </section>

    <section class="publicaciones">

        <div class="botones-toggle">
            <div>
                <button id="botonPublicaciones" class="button boton-activo" onclick="mostrarSeccion('publicaciones')">Publicaciones</button>
                <button id="botonReels" class="button" onclick="mostrarSeccion('reels')">Reels</button>
            </div>

            <hr>

            
            <div id="contenidoPublicaciones" class="contenido contenido-activo">
                <p>Aún no hay publicaciones del usuario</p>
            </div>

            <div id="contenidoReels" class="contenido contenido-oculto">
                <p>Aun no hay reels</p>
            </div>
        </div>


    </section>



</section>

<script src="../js/perfil.js"></script>